#screen {
    width: 300px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
}

#btnArea {
    display: flex;
}

.numBtn {
    width: 30%;
}

.operatorBtnContainer {
    flex-direction: column;
}

.operatorBtn {
    padding: 0 10px;
    width: 100%;
}